---
layout: default
---

<section id="body">
    <div class="padding highlightable">
	  <div id="top-bar-sticky-wrapper" class="sticky-wrapper">
	  <div id="top-bar">
            <div id="top-github-link">
                <a class="github-link" title='Edit this page' href="https://github.com/awsdemo/awsdemo.github.io" target="blank">
                  <i class="fas fa-code-branch"></i>
                  <span id="top-github-link-text">Edit this page</span>
                </a>
            </div>
            <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> 
		<span id="sidebar-toggle-span">
                        <a href="#" id="sidebar-toggle" data-sidebar-toggle="" class="highlight">
                          <i class="fas fa-bars"></i>
                        </a>
                </span>
                <span class="links"><a href="{{site.baseurl}}/index.html">AWS Demo Center</a>> 
				{{ page.title }}
                </span>
            </div>
                
            <div class="progress">
                <div class="wrapper"> {{ site.baseurl }}</div>
            </div>
          </div>
                
      </div>
  
      <div id="chapter">
          <div id="body-inner">
			{{ content }}
			
		  </div>
      </div>
	  
	  <!-- <div id="navigation"> -->
			<!-- <a class="nav nav-prev" href="page.previous" title="previous"> <i class="fas fa-chevron-left"></i></a>         -->
            <!-- <a class="nav nav-next" href="{{page.next}}" title="next" style="margin-right: 0px;"><i class="fas fa-chevron-right"></i></a>         -->
      <!-- </div> -->
	  <!-- 回到顶部 -->
	  <a class="btn btn-default" href="#" role="button" style="position:fixed;right:0;bottom:0"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	</div>
	
	
       <section class="post-footer-item comment">
	    <div id="disqus_thread"></div>
            <div id="gitalk_container"></div>

       </section>
</section>




{% if site.comments.gitalk %}

	<script>

		var gitalk = new Gitalk({

			  clientID: '{{ site.comments.gitalk_clientID }}',

			  clientSecret: '{{ site.comments.gitalk_Secret }}',

			  repo: '{{ site.comments.gitalk_repo }}',

			  owner: '{{ site.comments.gitalk_owner }}',

			  admin: '{{ site.comments.gitalk_admin }}',

			  id: location.pathname,      // Ensure uniqueness and length less than 50{{ page.title }}

			  distractionFreeMode: '{{ site.comments.distractionFreeMode }}'  // Facebook-like distraction free mod

			})

			gitalk.render('disqus_thread')

	</script>

{% endif %}
